/*MAIN*/

html {
	height:100%;
	/*margin:0;
	padding:0;
	font-size:100%;*/

}

body { 

	color: #555;
	background:#CCCCCC;
	height:100%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:21px;
	font-size:18px;

}

.fluid-container {
	height:100%;
	margin:0 auto;
	padding:0;
}

.fluid-container-inner {
	height:100%;
	width:100%;
}

img {

	width: 100%;

}

header {
	top:0px;
	left:0px;
	right:0px;
	position:fixed;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index: 500;
	background:#fff;
	/*width:100%;*/
	height:50px;
	border-bottom: 3px solid #555;
	overflow:visible;
}

.left-nav {
	background-color:#ebebeb;
	display:block;
	float:left;
	overflow:auto;
	height:100%;
	position:absolute;
	left:0;
	border-right:1px solid black;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index:250;
	position:fixed;
}

.right-content {
	margin-left:200px;
	padding:10px;
	margin-top:50px;
	height:100%;
}

#nav-list {
	float:left;
	width:160px;
	margin:0 auto;

}

#nav-list li {
	list-style:none;
	margin-left:-40px;
}

#nav-list li a {
	display:block;
	padding:10px 15px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	text-decoration:none;
	list-style:none;
	color:#555;
}

#nav-list li a:hover {
	background:#CCCCCC;
	text-decoration:underline;
	color:#222;
}

#nav-list li a.active {
	background:#999;
	color:#fff;
}

#nav-list li ul {
	display:none;
}

#nav-list li ul li a {
	padding:10px 25px;
	background:#ececec;
	border-bottom:1px dotted #ccc;
}

.inner-content {
	background-color:#fff;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index:250;
	height:100%;
	border-left:1px solid black;
	border-top:1px solid black;
	margin-top:5px;
	padding:0 20px;
	margin-right:-18px;
	margin-top:10px;
	margin-left:3px;
}